spring:
  application:
    name: EZBar Backend API
  datasource:
    url: jdbc:mariadb://localhost:3306/EZBarDB
    username: root
    password: m3f1
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect

server:
  port: 8080
  address: 0.0.0.0
  servlet:
    context-path: /api

logging:
  file:
    name: logs/java_app.log
  level:
    root: INFO
    com.ezbar: DEBUG
